body {
  margin: 0%;
  display: flex;
  background-color: #f2dca2;
  font-family: system-ui, sans-serif;
}
div {
  align-items: center;
  display: flex;
}
.container {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
h1 {
  padding-top: 80px;
  font-size: 4.5rem;
}
#cpfInput {
  height: 40px;
  padding: 10px;
  background: #ffffff;
  color: #000;
  font-weight: 200;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  margin-right: 20px;
  border: none;
}

#resultado {
  font-size: 3rem;
  font-style: oblique;
}

button {
  --c: #22a8aa; /* variável com cor*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

button {
  font-size: 3rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}
